/* bags.css */
.acc-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.acc-details h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.acc-details p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.acc-item {
    margin-bottom: 30px;
    text-align: center;
    border: plum 3px solid;
    border-radius: 20px;
}

.acc-item img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: plum 3px solid;
}
