body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

#compliment-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
}
