@import url(https://fonts.googleapis.com/css?family=Honk:regular);

body {
    font-family: Honk;
    
    margin: 0;
    padding: 0;
    background-color: pink; /* Set the background color */

    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container fill the viewport height */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* Add some spacing below the question */
}

.options {
    display: flex;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#yes {
    background-color: #5cb85c; /* Green color */
    color: white;
}

#no {
    background-color: #d9534f; /* Red color */
    color: white;
    margin-left: 40px; /* Adjust the margin between "Yes" and "No" buttons */
}


/* CSS to control the image size */
img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
